@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "PoppinsStrong";
  src: url(./assets/fonts/Poppins/Poppins-Bold.ttf);
}
body {
  font-family: "Poppins";
  margin: 0;
  color: #1c2126;
}

header {
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.titreAgenceco {
  font-size: 1.5em;
  color: #029d5b;
  font-weight: 600;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 25px;
}
nav a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: color 0.2s ease;
}
nav a:hover {
  color: #029d5b;
}

.welcome {
  background-image: url(./assets/images/welcomeimg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh; /* plein écran */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  color: white;
  position: relative;
}
.surlignageWelcome {
  color: #d5f31f;
  font-family: "PoppinsStrong";
}
.welcome h1 {
  position: absolute;
  font-size: 2.5rem;
  max-width: 700px;
  bottom: 100px;
  right: 100px;
  max-width: 600px;
  text-align: right;
  margin: 0;
}

.notreEquipe {
  padding: 30px;
}
.notreEquipe ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap; /* adaptation aux mobiles */
}
.notreEquipe li {
  text-align: center;
  width: 200px;
}

.notreEquipe img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.692);
}

.notreEquipe h4 + p {
  color: #565e56;
  font-size: small;
}
.notreEquipe h1 {
  text-align: center;
  color: #029d5b;
}

.satisfaction {
  background-color: #053b44;
  padding: 40px;
}

.satisfaction ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1000px;
  gap: 50px;
}
.satisfaction li {
  text-align: center;
  color: white;
}
.chiffreSurligne {
  display: block;
  color: #d5f31f;
  font-size: 30px;
  font-family: "PoppinsStrong";
}

.services {
  text-align: center;
  padding: 40px;
}
.service-container {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-top: 20px;
}
.serviceInterne {
  border-radius: 10px;
  padding: 30px;
  width: 180px;
}
.serviceInterne:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.serviceInterne img {
  margin-bottom: 10px;
}
.serviceInterne p {
  font-family: "PoppinsStrong";
}
.services h1 {
  color: #029d5b;
}

.formulaire {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #053b44;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}
.formTitre {
  grid-column: 1/3;
  text-align: center;
  margin-bottom: 20px;
}
.formulaire h1 {
  color: #d5f31f;
}
.formulaire p {
  color: white;
}

.formulaire div {
  display: flex;
  flex-direction: column;
}

.formEmail,
.formMessage,
.formSubmit {
  grid-column: 1/3;
}

.formulaire input,
.formulaire textarea {
  margin-bottom: 5px;
  background-color: #053b44;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  padding: 10px 0;
  resize: none;
}
.formulaire input::placeholder,
.formulaire textarea::placeholder {
  color: white;
}
